/.vscode
/color.cpp
/color.exe
/color.ilk
/color.obj
/color.pdb
/question.cpp
/question.hpp
/question.obj
/ufo.exe
/ufo.ilk
/ufo.obj
/ufo.pdb
/ufo_functions.exe
/ufo_functions.ilk
/ufo_functions.obj
/ufo_functions.pdb
/vc140.pdb